<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <h2>Encabezado</h2>
        <i>Aquí podríamos insertar el logo, un menú de navegación y una barra de búsqueda</i>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <h2>Pie de página</h2>
        <i>Aquí podríamos insertar información de contacto, enlaces a redes sociales y derechos de autor</i>
    </footer>
    
</body>
</html>